*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/.spec-workflow/
/app/release/
/.idea/inspectionProfiles/Project_Default.xml
/app/.cxx/
/app/debug/
/.kotlin
/nul
/app/nul
/.idea/deploymentTargetSelector.xml
/app/src/main/jniLibs/*/libwekit_native.so
/build-logic/convention/build/
